.header{
    background: var(--color-ambar-dourado);
}

.header .max--width{
    max-width: 155rem;
    margin: 0 auto;
}

.header .max--width .menu--infor--gaming{
    display: flex;
    align-items: center;
    border-bottom: .2rem solid var(--color-white-rigth);
    text-align: center;
    overflow-y: hidden;
    padding: 1.2rem 3%;
}

.header .max--width .menu--infor--gaming .menu--icon{
    cursor:pointer;
    overflow-y: hidden;
    width: 40%;
    display: flex;
    align-items: flex-start;
    max-width: 124rem;
}

.header .max--width .menu--infor--gaming .infor--gaming{
    font-size: 1.3rem;
    font-family: var(--font-roboto);
    color: var(--color-white-rigth);
    cursor: pointer;
}

.header .max--width .menu--infor--gaming .infor--gaming h4 strong{
    color: var(--color-brown-coffee);
    font-weight: 900;
}

.header .max--width .box--header{
    display: flex;
    position: relative;
    align-items: center;
}

.header .max--width .box--header .logo--league{
    padding: 1rem 2rem;
    font-size: 2rem;
    color: var(--color-white-rigth);
    margin-left: 2.7rem;
    font-family: var(--font-roboto);
    font-weight: bolder;
    cursor: pointer;
    text-align: center;
}

.header .max--width .box--header .logo--league strong{
    color: var(--color-brown-coffee);
}

.header .max--width .box--header .logo--league .img--logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .1rem;
    font-size: 1.7rem;
    font-family: var(--Open-Sans);
}

.header .max--width .box--header .logo--league .img--logo img{
    width: 6rem;
    margin-left: 1rem;
}

.header .max--width .box--header .nav--bar{
    display: flex;
    align-items: center;
}
 
.header .max--width .box--header .nav--bar .nav--list{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 22rem;
}

.header .max--width .box--header .nav--bar .nav--list .nav--item a{
    font-size: 2rem;
    font-family: var(--font-roboto-mono);
    font-style: normal;
    color: var(--color-white-rigth);
    display: block;
    margin: 0 3rem;
}

.header .max--width .box--header .nav--bar .nav--list .nav--item a:hover{
    text-decoration: underline var(--color-brown-coffee) 2px;
    color: var(--color-brown-coffee);
}

.header .max--width .box--header .nav--bar .item-pro-tour{
    font-size: 1.7rem;
    font-weight: 200;
    cursor: pointer;
}

.header .max--width .box--header .nav--bar .item-pro-tour a{
    font-family: var(--font-roboto);
    letter-spacing: .1px;
    color: var(--color-white-rigth);
    border-left: .1rem solid var(--color-white-rigth);
    display: block;
    padding: 2.4rem 0;
    padding-left: 2rem;
}

.header .max--width .box--header .nav--bar .item-pro-tour a:hover{
    color: var(--color-brown-coffee);
    text-decoration: underline;
}  

#menu-btn{
    display: none;
    cursor: pointer;
    color: var(--color-white-rigth);
    font-size: 3.2rem;
    border-radius: .5rem;
    position: absolute;
    right: 3rem;
}