.header{
    background: var(--color-ambar-dourado);
}

.header .menu--infor--gaming{
    display: flex;
    align-items: center;
    border-bottom: .2rem solid var(--color-white-rigth);
    text-align: center;
    overflow-y: hidden;
    padding: 1.2rem 3%;
}

.header .menu--infor--gaming .menu--icon{
    cursor:pointer;
    overflow-y: hidden;
    width: 40%;
    display: flex;
    align-items: flex-start;
}

.header .menu--infor--gaming .infor--gaming{
    font-size: 1.3rem;
    font-family: var(--font-roboto);
    color: var(--color-white-rigth);
    cursor: pointer;
}

.header .menu--infor--gaming .infor--gaming strong{
    color: var(--color-brown-coffee);
    font-weight: 900;
}

/* ####################### // ######################## */

.header .box--header{
    display: flex;
    position: relative;
    align-items: center;
}

.header .box--header .logo--league{
    padding: 1rem 2rem;
    font-size: 2rem;
    color: var(--color-white-rigth);
    margin-left: 2.7rem;
    font-family: var(--font-roboto);
    font-weight: bolder;
    cursor: pointer;
    text-align: center;
}

.header .box--header .logo--league strong{
    color: var(--color-brown-coffee);
}

.header .box--header .logo--league .img--logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .1rem;
    font-size: 1.7rem;
    font-family: var(--Open-Sans);
}

.header .box--header .logo--league .img--logo img{
    width: 6rem;
    margin-left: 1rem;
}

/* --------------- // ----------------- */

.header .box--header .nav--bar{
    display: flex;
    align-items: center;
    width: 79%;
    margin-left: 2.1rem;
}
 

.header .box--header .nav--bar .nav--list{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header .box--header .nav--bar .nav--list .nav--item{
    margin-right: 2.5rem;
    letter-spacing: .1px;
    font-size: 2rem;
}

.header .box--header .nav--bar .nav--list .nav--item a{
    font-size: 1.9rem;
    font-family: var(--font-roboto-mono);
    font-style: normal;
    color: var(--color-white-rigth);
    letter-spacing: .1px;
    display: block;
}

.header .box--header .nav--bar .nav--list .nav--item a::after{
    content: "";
    height: .3rem;
    width: 0%;
    display: block;
    background: var(--color-brown-coffee);
}

.header .box--header .nav--bar .nav--list .nav--item a:hover::after{
    width: 100%;
    color: var(--color-brown-coffee);
    font-weight: 600;
    letter-spacing: .1px;
}

.header .box--header .nav--bar .item-pro-tour{
    font-size: 1.7rem;
    font-weight: 200;
    cursor: pointer;
    margin-left: 35%;
}

.header .box--header .nav--bar .item-pro-tour a{
    font-family: var(--font-roboto);
    letter-spacing: .1px;
    color: var(--color-white-rigth);
    border-left: .1rem solid var(--color-white-rigth);
    display: block;
    padding: 2.4rem 0;
    padding-left: 2rem;
}

.header .box--header .nav--bar .item-pro-tour a:hover{
    color: var(--color-brown-coffee);
    text-decoration: underline;
}  

#menu-btn{
    display: none;
    cursor: pointer;
    color: var(--color-white-rigth);
    font-size: 3.2rem;
    border-radius: .5rem;
    position: absolute;
    right: 3rem;
    top: 80%;
}